<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ComponentBasedSystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="componentBasedSystem.presentation.ComponentBasedSystemModelWizardID"
            name="%_UI_ComponentBasedSystemModelWizard_label"
            class="componentBasedSystem.presentation.ComponentBasedSystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComponentBasedSystemModelFile.gif">
         <description>%_UI_ComponentBasedSystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ComponentBasedSystem -->
      <editor
            id="componentBasedSystem.presentation.ComponentBasedSystemEditorID"
            name="%_UI_ComponentBasedSystemEditor_label"
            icon="icons/full/obj16/ComponentBasedSystemModelFile.gif"
            extensions="componentbasedsystem"
            class="componentBasedSystem.presentation.ComponentBasedSystemEditor"
            contributorClass="componentBasedSystem.presentation.ComponentBasedSystemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ComponentBasedSystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="componentBasedSystem.dataTypes.presentation.DataTypesModelWizardID"
            name="%_UI_DataTypesModelWizard_label"
            class="componentBasedSystem.dataTypes.presentation.DataTypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataTypesModelFile.gif">
         <description>%_UI_DataTypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ComponentBasedSystem -->
      <editor
            id="componentBasedSystem.dataTypes.presentation.DataTypesEditorID"
            name="%_UI_DataTypesEditor_label"
            icon="icons/full/obj16/DataTypesModelFile.gif"
            extensions="datatypes"
            class="componentBasedSystem.dataTypes.presentation.DataTypesEditor"
            contributorClass="componentBasedSystem.dataTypes.presentation.DataTypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ComponentBasedSystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="componentBasedSystem.behaviourDescription.presentation.BehaviourDescriptionModelWizardID"
            name="%_UI_BehaviourDescriptionModelWizard_label"
            class="componentBasedSystem.behaviourDescription.presentation.BehaviourDescriptionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BehaviourDescriptionModelFile.gif">
         <description>%_UI_BehaviourDescriptionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ComponentBasedSystem -->
      <editor
            id="componentBasedSystem.behaviourDescription.presentation.BehaviourDescriptionEditorID"
            name="%_UI_BehaviourDescriptionEditor_label"
            icon="icons/full/obj16/BehaviourDescriptionModelFile.gif"
            extensions="behaviourdescription"
            class="componentBasedSystem.behaviourDescription.presentation.BehaviourDescriptionEditor"
            contributorClass="componentBasedSystem.behaviourDescription.presentation.BehaviourDescriptionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ComponentBasedSystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="componentBasedSystem.roles.presentation.RolesModelWizardID"
            name="%_UI_RolesModelWizard_label"
            class="componentBasedSystem.roles.presentation.RolesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RolesModelFile.gif">
         <description>%_UI_RolesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ComponentBasedSystem -->
      <editor
            id="componentBasedSystem.roles.presentation.RolesEditorID"
            name="%_UI_RolesEditor_label"
            icon="icons/full/obj16/RolesModelFile.gif"
            extensions="roles"
            class="componentBasedSystem.roles.presentation.RolesEditor"
            contributorClass="componentBasedSystem.roles.presentation.RolesActionBarContributor">
      </editor>
   </extension>

</plugin>
